.me img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.me, .bio{
    /* padding: 20px; */
    width: 300px;
}
.border{
    box-shadow: rgba(100, 100, 111, 0.8) 0px 7px 29px 0px;
    background-color: white;
    padding: 0 0 45px 0;
    border-style: solid;
    border-width: 15px;
    border-color: white;
}

#about-me{
    background-color: rgba(226, 137, 128, 0.5);
    font-family: 'Caudex', serif;
}


.about-me-container{
    padding: 40px;
    max-width: 860px;
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');


.bio p{
    width: 300px;
    font-size: 1rem;
    font-family: 'Merriweather', serif;
}

.me p{
    font-size: .75rem;
    text-align: end;
}

#introduce-myself{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}